.heading {
    // background-color: rgba(0, 128, 0, 0.75);
    background-color: rgba(70, 6, 160, 0.99);
    color: white;
    
}

.nav.navbar-nav li a {
    color: #fff;
  }

  

  .sub_heading {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      // background-color: white;
      color: white;
  }


.bg_color {
  background-color: rgba(43, 3, 101, 0.93);
  min-height: 900px;
}

.front_page {
  margin: 5px;
}


//control size of headline text
.headline {
  font-size: 32px;
}

//color underline for headline text
.headline_underline {
  text-decoration: underline;
  text-decoration-color: yellow;
  
}

// holder of images on homepage and used for details page bg inset
.inset_bg {
  background-color: rgba(80, 8, 182, 0.75);
  padding-right: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 10px;
  min-height: 90px;
}

//back and next button and headline Holder
.button_inset_bg {
  background-color: rgba(80, 8, 182, 0.75);
  padding-right: 22px;
  border-radius: 8px 8px 0px 0px;
}


// inset for viral images
.sm_inset_bg {
  background-color: rgba(80, 8, 182, 0.75);
  border-radius: 8px;
  margin: 5px 0px;
  vertical-align: top;
  padding: 1px;
  color: white;
  a {
    color: white;
  }
  a:hover {
    color: yellow;
  }
 
}

//used to place back and next button adjacent to each other
.inline {
  display:inline-block;
  // margin-right:5px;
}


//formatting for the submission and edit form
.inset_bg_form {
  background-color: rgba(80, 8, 182, 0.75);
  padding: 22px;
  border-radius: 11px;
}

//used for all text to contrast with dark bg
.white_text {
  color: white;
}

// form headling and post preview text color
.yellow_text {
  color: yellow;
}

.hide_text {
  position: absolute;
  bottom: 3px;
  z-index: 1;
}

// formatting for all buttons except delete
.btn_yellow {
  background-color: goldenrod;
  color: purple;
  font-style: bold;
  margin-left: 8px;
}

.right {
  position: absolute;
  right: 18px;
  // top: 18px;
}

.right_back {
  position: absolute;
  right: 120px;
  // top: 18px;
  // margin-right:5px;
}


// scroll bar for most viral images
.panel-body {
  overflow: scroll;
  height: 700px;
}

// used to tab over the label and text input for image descriptions 
.margin_left {
  margin-left: 120px;
}

//used to set the imput field for the image details input
.image_desc_input {
  width: 600px;
  border-radius: 5px;
  padding-left: 6px;
  margin-left: 12px;
}

//description box on form view
.desc_box {
  vertical-align: top;
  padding: 12px;
}

#white_box {
  margin-top: 22px;
  padding: 7px;
  border: 2px solid white;
  border-radius: 9px;
}

.right_align {
  align-items: right;
}

//loading spinner 
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  width: 40px;
  height: 40px;
  margin: -70px 0 0 -75px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid rgba(43, 3, 101, 0.93);
  width: 46px;
  height: 46px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

// end of loading spinner




// formatting for post view text on mouseover headlines
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

// end of post view onmouseover headlines


.goToTop
{
    position: fixed;
    width: 100px;
    height: 40px;
    bottom: 0;
    right: 0;
    z-index: 100000;
    cursor: pointer;
    margin: 10px;
    -moz-opacity: 0.60;
    opacity: .60;
    filter: alpha(opacity=60);
}

.white_text_bold {
  color: white;
  font: bold;
}

.pos_z_index {
  z-index: 21;
}