<h2></h2>
<!-- <div class="col-xs-12"> -->

	
	<!-- <ul class="list-group">
	    <li class="list-group-item"><strong>Created By: </strong>{{post.createdBy}}</li>
        <li class="list-group-item"><strong>Created Date: </strong>{{post.createdDate}}</li>
        
	</ul> -->
		

	<!-- row for Headline, displayed images and most viewed images -->
	<div class="row">
		<div class="col-xs-8 inset_bg">
			
			<!-- headline of post -->
				<h3 class="white_text">{{post.post}}</h3>
				

					

				<!-- next button -->
				<div ng-controller="postCtrl">
						
					<span ng-repeat="(key, item) in postsArray | orderBy: '-createdDate'" ng-if="(post.id == item.id)" ng-init="test1 = ($index + 1)"> 
									
							<span ng-if="test1 > $index">
									<span ng-repeat="next in postsArray | orderBy: '-createdDate'" ng-if="(test1 == $index)">
											<button class="btn btn_yellow" id="nextButton" align="right"> <a ng-href="#!/post/{{next.id}}">Next Post</a></button>
											
									</span>
							</span>


						

					</span> 

				</div>		
				<!-- end of next button -->

			<!-- closing h3 tag for headline post-->
			</h3>
			</br>
		

			<!-- first image url fetch -->
			<img ng-src="{{post.imageURL}}" width="600">
				<br> <h4 class="white_text">{{post.imageDetail1}}<h/4>
				<br><br></br>

			<!-- second image url fetch -->
			<span class=""><img ng-src="{{post.imageURL2}}" width="600">
				<br><br> <h4 class="white_text">{{post.imageDetail2}}</h4>
				<br>


			<!-- third image url fetch -->
			<span class=""><img ng-src="{{post.imageURL3}}" width="600">
				<br><h4 class="white_text">{{post.imageDetail3}}</h4>
				<br>
			
			<!-- row for social media: Facebook, Pinterest, Twitter -->
			<div class="white_text right_align">
					<a data-pin-do="buttonPin" data-pin-count="above" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest"></a>
			</div>
		</div>
		<div class="col-xs-0"></div>
		<!-- most popular images -->
		<div class="col-xs-4 white_text most_viewed"><h4 align="center">Most Viral Images</h4>
				
				<!-- added postCtrl controller to get the items in postArray for right side bar Most Viral Images -->
				<div class="panel-body" ng-controller="postCtrl">
					<!-- Order by descending date in most viral images -->
					<div class="sm_inset_bg" ng-repeat="item in postsArray | orderBy: '-createdDate'">
									
					<div><a ng-href="#!/post/{{item.id}}"><img ng-src="{{item.imageURL}}" width="145" height="100" class="front_page"></a>
						 <a ng-href="#!/post/{{item.id}}">{{item.post}}</a>
					</div>	
				</div>

		</div>

	</div>
		
		<!-- row for edit and delete buttons -->
	<div>
		<div class="row"> 
				<div class="col-xs-8 inset_bg">	
				<button class="btn btn_yellow"><a ng-href="#!/post/{{post.id}}/edit">Edit</a></button>
				<button ng-click="deletePost(post.id)" class="btn btn-danger">Delete</button>
				</div>
		</div>
	</div>

		<br>
		<!-- row for comments -->
		<div class="col-xs-8 inset_bg white_text">Comments Go Here</div>
		<br><br><br>

		</div>	
		

</div>
<br><br><br>