<h2></h2>
<div class="col-xs-12">

	<h3 class="white_text">{{post.post}}</h3>
</br>
	<!-- <ul class="list-group">
	    <li class="list-group-item"><strong>Created By: </strong>{{post.createdBy}}</li>
        <li class="list-group-item"><strong>Created Date: </strong>{{post.createdDate}}</li>
        
	</ul> -->


	<!-- Loops over posts array -->
		

	<!-- row for displayed images and most viewed images -->
	<div class="row">
		<div class="col-xs-9 inset_bg"><img ng-src="{{post.imageURL}}" width="800">
		<br><br>

			<!-- row for social media: Facebook, Pinterest, Twitter -->
			<div class="white_text">Twitter Facebook, Pinterest</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-2 white_text most_viewed">Most Viewed Goes Here</div>
	</div>
	<br>


		<!-- row for buttons -->
		<div class="row"> 
				<div class="col-xs-9 inset_bg">	
				<button class="btn btn_yellow"><a ng-href="#!/post/{{post.id}}/edit">Edit</a></button>
				<button ng-click="deletePost(post.id)" class="btn btn-danger">Delete</button>
				</div>
		</div>

		<br>
		<!-- row for comments -->
		<div class="col-xs-9 inset_bg white_text">	Comments Go Here</div>
		<br><br><br>

		</div>	
		

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<br><br><br>