<h2></h2>
<!-- <div class="col-xs-12"> -->

	
	<!-- <ul class="list-group">
	    <li class="list-group-item"><strong>Created By: </strong>{{post.createdBy}}</li>
        <li class="list-group-item"><strong>Created Date: </strong>{{post.createdDate}}</li>
        
	</ul> -->
		

	<!-- row for Headline, displayed images and most viewed images -->
	<div class="row">
		<div class="col-xs-8 inset_bg">
			
			<!-- headline of post -->
				<h3 class="white_text">{{post.post}}
				
			<!-- TODO fix next button, not working now -->
				<!-- next button -->
				<!-- <div ng-controller="postCtrl">
					<div ng-repeat="nextLink in postsArray | limitTo: 1">
				<button class="btn btn_yellow id="nextButton" align="right">"<a href  ng-click="#!/post/{{nextLink.id}}">Next Post</a></button>
				<div>	 -->

			<!-- closing h3 tag for headline post		 -->
			</h3>
			</br>
		

			<!-- first image url fetch -->
			<img ng-src="{{post.imageURL}}" width="600">
				<br> <h4 class="white_text">{{post.imageDetail1}}<h/4>
				<br><br></br>

			<!-- second image url fetch -->
			<span class=""><img ng-src="{{post.imageURL2}}" width="600">
				<br><br> <h4 class="white_text">{{post.imageDetail2}}</h4>
				<br>


			<!-- third image url fetch -->
			<span class=""><img ng-src="{{post.imageURL3}}" width="600">
				<br><h4 class="white_text">{{post.imageDetail3}}</h4>
				<br>
			
			<!-- row for social media: Facebook, Pinterest, Twitter -->
			<div class="white_text">Twitter Facebook, Pinterest</div>
		</div>
		<div class="col-xs-0"></div>
		<!-- most popular images -->
		<div class="col-xs-4 white_text most_viewed"><h4 align="center">Most Viral Images</h4>
				
				<!-- added postCtrl controller to get the items in postArray for right side bar Most Viral Images -->
				<div class="panel-body" ng-controller="postCtrl">
					<div class="sm_inset_bg" ng-repeat="item in postsArray | limitTo: 20">
					<div><a ng-href="#!/post/{{item.id}}"><img ng-src="{{item.imageURL}}" width="145" height="100" class="front_page"></a>
						<a ng-href="#!/post/{{item.id}}">{{item.post}}</a>
					</div>	
				</div>

		</div>

	</div>
		
		<!-- row for buttons -->
	<div>
		<div class="row"> 
				<div class="col-xs-8 inset_bg">	
				<button class="btn btn_yellow"><a ng-href="#!/post/{{post.id}}/edit">Edit</a></button>
				<button ng-click="deletePost(post.id)" class="btn btn-danger">Delete</button>
				</div>
		</div>
	</div>

		<br>
		<!-- row for comments -->
		<div class="col-xs-8 inset_bg white_text">	Comments Go Here</div>
		<br><br><br>

		</div>	
		

</div>
<br><br><br>