<div class="row inset_bg_form"> 
    <h3 class="white_text">{{title}}</h3>
    <br>
    <form>
        <!-- Name field -->
        <!-- <div class="form-group">
            <label>Created By</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="post.createdBy"/>
        </div> -->

        <!--date field-->
        <div class="form-group">
            <label class="white_text">Created Date (Filled in automatically)</label>
            <input type="text" class="form-control" placeholder="Mth/Day/Year" ng-model="post.createdDate"/>
        </div>
        <br>

         <!-- Add Your Post Field -->
         <div class="form-group">
                <label class="white_text">Post Heading</label>
                <input type="text" class="form-control" placeholder=" Add Your Post" ng-model="post.post"/>
            </div>
            <br>
    
        
        <!-- First Image URL field -->
        <div class="form-group">
            <label class="white_text">First Image URL</label>
            <input type="text" class="form-control" placeholder="Put Image URL Here" ng-model="post.imageURL"/>
        </div>
                <!-- first Image Details -->  
                <label class="white_text margin_left">First Image Details (Optional)</label>
                <input  class="image_desc_input" type="text" class="form-control" placeholder="Put Image1 Detail Here" ng-model="post.imageDetail1"/>


                <!-- testing conditional showing of input box--currently not working as of Setp 17 -->
                <!-- <input ng-hide="!post.imageURL" class="image_desc_input" type="text" class="form-control" placeholder="Put Image1 Detail Here" ng-model="post.imageDetail1"/>
                <input ng-hide="post.imageURL" class="image_desc_input" type="text" class="form-control" placeholder="Put Image1 Detail Here" ng-model="post.imageDetail1"/>
                 -->

        <br>

        <!-- Start of image displays and details of pics -->
        <div id="white_box">
                <div> <h3 class="white_text" align="center">Post Preview</h3>
                    
                    <span> 
                        <h5 class="white_text desc_box">Headline:   
                          {{post.post}}</h5>
                    </span>
                        <hr>
                    <!-- displays a small image of the post that's being edited -->
                    <img ng-src="{{post.imageURL}}" width="220">
                    <span class="white_text desc_box">{{post.imageDetail1}}</span>
                </div>
                <br>
                <div>
                    <!-- displays a small image of the second image that's being edited -->
                    <img ng-src="{{post.imageURL2}}" width="220"> 
                    <span class="white_text desc_box">{{post.imageDetail2}}</span>
                </div>
                <br>
                <div>
                    <!-- displays a small image of the third image that's being edited -->
                    <img ng-src="{{post.imageURL3}}" width="220"> 
                    <span class="white_text desc_box">{{post.imageDetail3}}</span>
                </div>
        </div>
        <!-- end of image and details preview -->

        <br>

         <!-- Second Image URL field -->
         <div class="form-group">
             <br><br>
            <label class="white_text">Second Image URL (Optional)</label>
            <input type="text" class="form-control" placeholder="Put Second Image URL Here" ng-model="post.imageURL2"/>
        </div>
                <!-- second Image Details -->  
                <label class="white_text margin_left">Second Image Details (Optional)</label>
                <input  class="image_desc_input" type="text" class="form-control" placeholder="Put Image1 Detail Here" ng-model="post.imageDetail2"/>

            <br><br><br>
        
        

        <!-- Third Image URL field -->
        <div class="form-group">
                <label class="white_text">Third Image URL (Optional)</label>
                <input type="text" class="form-control" placeholder="Put Third Image URL Here" ng-model="post.imageURL3"/>
            </div>
                    <!-- third Image Details -->  
                <label class="white_text margin_left">Third Image Details (Optional)</label>
                <input  class="image_desc_input" type="text" class="form-control" placeholder="Put Image1 Detail Here" ng-model="post.imageDetail3"/>


                <br><br><br>
                
            
        

       
        <!-- Add Keywords Field -->
        <div class="form-group">
                <label class="white_text">Keywords (Optional)</label>
                <input type="text" class="form-control" placeholder="Add Keywords -Optional" ng-model="post.keywords"/>
         </div>
         <br>
         
        <!-- submit button -->
        <div class="text-center">
                <button class="btn btn_yellow" id="uploadButton" ng-click="submitPost()">{{submitButtonText}}</button>    
        </div>
        </form>
        <br>
</div>
<input type="button"  class="goToTop white_text_bold" value="Scroll Top" style="display:none;background-color:rgba(25, 44, 218, 0.74)"  />

<br><br>

<!-- scroll to top -->
<script>
	$(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.goToTop').fadeIn();
        } else {
            $('.goToTop').fadeOut();
        }
    });
    $('.goToTop').click(function () {
        $("html, body").animate({ scrollTop: 0}, 200);
        return false;
	});
</script>