<h3>{{title}}</h3>
<form>
    <div class="form-group">
        <label>Created By</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="post.createdBy"/>
    </div>
    <div class="form-group">
        <label>Created Date</label>
        <input type="text" class="form-control" placeholder="Mth/Day/Year" ng-model="post.createdDate"/>
    </div>
    <div class="form-group">
        <label>Post</label>
        <input type="text" class="form-control" placeholder="Add Your Post" ng-model="post.post"/>
    </div>
    <!-- choose image button -->
    <div class="form-group">
        <br>
        <label class="upload-group">Upload Image</label>
        <input type="file" class="upload-group" id="file">
    </div>
    <div class="text-center">
            <button class="btn btn-default" id="uploadButton" ng-click="submitPost()">{{submitButtonText}}</button>    
        </div>
    </form>