<nav class="navbar navbar-default heading navbar-fixed-top" ng-controller="navCtrl">
    <div class="container-fluid">


      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          
        </button>
        <a class="" href="#!/item-list"><img src="images/funsnaplogo2.png" height="55"></a>
      </div>
  
      <div class="navbar-form navbar-left input-group" ng-show="isLoggedIn">
          <div class="input-group" ng-show="showSearch">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText.search">

          </div>

          <!-- clear search button   -->
          <!-- <li class="white_text"  ng-click="">Clear</li> -->

          <!-- yellow add post button -->
            <li class="btn btn_yellow"><a ng-show="isLoggedIn" ng-href="#!/post/newPost">Add Post</a></li>
            
          
      </div>

      

  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-show="isLoggedIn" ng-href="#!/post-list">Show All</a></li>
          <li><a ng-show="isLoggedIn" ng-href="#!/post/newPost">Add Post</a></li>
          <li><a ng-show="!isLoggedIn">Login</a></li>
          <li><a ng-show="isLoggedIn" ng-click="logout()">Logout</a></li>
        </ul>
      </div>
  
    </div>
    
  </nav>

  <br><br><br><br>