<nav class="navbar navbar-default heading" ng-controller="navCtrl">
    <div class="container-fluid">


      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/item-list">Jim's Notes</a>
      </div>
  
      <div class="navbar-form navbar-left input-group" ng-show="isLoggedIn">
          <div class="input-group" ng-show="showSearch">
            <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText.search">
          </div>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-show="isLoggedIn" ng-href="#!/note-list">Show All</a></li>
          <li><a ng-show="isLoggedIn" ng-href="#!/note/newNote">Add Note</a></li>
          <li><a ng-show="!isLoggedIn">Login</a></li>
          <li><a ng-show="isLoggedIn" ng-click="logout()">Logout</a></li>
        </ul>
      </div>
  
    </div>
    
  </nav>