<div class="row">
    <div class="row col-xs-12 sub_heading">
    <h1 class="headline">Fun</span> <span class="headline_underline">Images</span> and <span class="headline_underline">Memes</span> all the <span class="headline_underline">time</span></h1> 
        <br>
    
    </div>
</div>
<!-- main insert on homepage -->

<div class="row inset_bg"> 


<!-- holder for images -->
        <!-- Loops over posts array -->
        <div ng-repeat="item in postsArray | orderBy: '-createdDate'   | filter: searchText.search">
        <div class="col-md-2"><a ng-mouseover="item.post" ng-init="count=0" ng-href="#!/post/{{item.id}}"><img ng-src="{{item.imageURL}}" width="185" height="186" class="front_page"></a></div>
          
        <!-- ng-mouseover="{{item.post}}" -->
                    
        </div>



</div>

<!-- adds space at bottom of homepage to separate the lighter div container from the darker BG -->
<br><br><br><br>
