
<div class="row">
    <div class="row col-xs-12 sub_heading">
    <h1 class="headline">Fun</span> <span class="headline_underline">Images</span> and <span class="headline_underline">Memes</span> sorted by <span class="headline_underline">popularity</span></h1> 
        <br>
    
    </div>
</div>
<!-- main insert on homepage -->
        <div class="row inset_bg"> 
                <!-- <div id="loader"></div> -->

        <!-- holder for images -->
                <!-- Loops over posts array -->
                <div ng-repeat="item in postsArray | orderBy: '-createdDate' | filter: searchText.search | limitTo: 24 ">
                    <span ng-if="item.imageURL =='' ">
                         <div class="col-md-2"><a ng-mouseover="item.post" ng-init="count=0" ng-href="#!/post/{{item.id}}"><img ng-src="{{item.imageURL2}}" width="185" height="186" class="front_page"></a></div>
                    </span>

                    <span ng-if="item.imageURL !='' ">
                            <div class="col-md-2"><a ng-mouseover="item.post" ng-init="count=0" ng-href="#!/post/{{item.id}}"><img ng-src="{{item.imageURL}}" width="185" height="186" class="front_page"></a></div>
                       </span>

                    <!-- ng-mouseover="{{item.post}}" -->
                </div>  
        </div>

<!-- if conditional to test if new card holder is needed on main view -->
<div ng-repeat="nextBlockOfItems in postsArray | limitTo: 1" ng-if="(postsArray.length / 24) > 1 ">
    <br />
    <!-- <a class="yellow_text right" href="#top">Back to top</a> -->
    <a class="yellow_text right" onclick="scroll(0,0)">Back to top</a>
    <br />
    <br />
    <div class="row inset_bg"> 
            <!-- <div id="loader"></div> -->

    <!-- holder for images -->
            <!-- Loops over posts array -->
            <div ng-repeat="item in postsArray | orderBy: '-createdDate' | filter: searchText.search  ">
                <span ng-if="($index / 23) > 1">
                    <div class="col-md-2"><a ng-mouseover="item.post"  ng-href="#!/post/{{item.id}}"><img ng-src="{{item.imageURL}}" width="185" height="186" class="front_page"></a></div>
                </span>
                <!-- ng-mouseover="{{item.post}}" -->
            </div>  
    </div>

</div>
<!-- end of next block of images if condition greater than 24 -->
<br />
<a class="yellow_text right" onclick="scroll(0,0)">Back to top</a>



<!-- adds space at bottom of homepage to separate the lighter div container from the darker BG -->
<br><br><br><br>
