
<div class="container container--auth">
    <div class="col-xs-6">
      <h4 class="white_text">Login with Google</h4>
      <button ng-click="loginGoogle()" class="btn btn_yellow">Sign In</button>
    </div>
    <div class="col-xs-6 text-right">
      <section class="auth-form">
        <h4 class="white_text">Login/Register with Email</h4>
        <div class="white_text">
          Email: <input type="text" autofocus="true" ng-model="account.email">
        </div>
        <div class="white_text">
          Password: <input type="password" ng-model="account.password">
        </div>
        <br>
        <div>
          <button ng-click="logIn()" class="btn btn_yellow">Login</button>
          <button ng-click="register()" class="btn btn_yellow">Register</button>
        </div>
      </section>
    </div>
  </div>
